<header>
    <nav>
        <a href="/">BTC Bookings</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/courts">Courts</a></li>
        </ul>
    </nav>
</header>