<% if (locals.errorMessage != null) { %>
     <p id="errorMessage"><%= errorMessage %></p>
<% } %>

<% if (locals.successMessage != null) { %>
    <p id="successMessage"><%= successMessage %></p>
 <% } %>
